services:

  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=America/Montevideo
    volumes:
      - ${sonarr_config_path}:/config	                #Confis de Sonarr
      - ${serie_files_path}:/tv 			                #Almacenamiento grande para series
      - ${download_files_path}:/downloads 		        #Almacenamiento grande para descargas
    ports:
      - 8989:8989
    restart: unless-stopped

  radarr:
    image: linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=America/Montevideo
    volumes:
      - ${radarr_config_path}:/config	                #Confis de radarr
      - ${movie_files_path}:/movies         		      #Almacenamiento grande para peliculas
      - ${download_files_path}:/downloads 		        #Almacenamiento grande para descargas
    ports:
      - 7878:7878
    restart: unless-stopped

  qbittorrent:
    image: linuxserver/qbittorrent
    container_name: qbittorrent
    environment:
      - PUID=0
      - PGID=0
      - TZ=America/Montevideo
      - WEBUI_PORT=8081
    volumes:
      - ${qbittorrent_config_path}:/config            #Confis de qbittorrent
      - ${download_files_path}:/downloads 		        #Almacenamiento grande para descargas
    ports:
      - 6881:6881/tcp
      - 6881:6881/udp
      - 8081:8081
    restart: unless-stopped

  bazarr:
    image: linuxserver/bazarr
    container_name: bazarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=America/Montevideo
    volumes:
      - ${bazarr_config_path}:/config                  #Confis de bazarr
      - ${movie_files_path}:/movies         		       #Almacenamiento grande para peliculas
      - ${serie_files_path}:/tv 			                 #Almacenamiento grande para series
    ports:
      - 6767:6767
    restart: unless-stopped

  readarr:
    image: linuxserver/readarr:develop
    container_name: readarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=America/Montevideo
    volumes:
      - ${readarr_config_path}:/config                 #Confis de readarr
      - ${book_files_path}:/books                      #Almacenamiento para libros
      - ${download_files_path}:/downloads 		         #Almacenamiento grande para descargas
    ports:
      - 8787:8787
    restart: unless-stopped
    
  prowlarr:
    image: linuxserver/prowlarr
    container_name: prowlarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=America/Montevideo
    volumes:
      - ${prowlarr_config_path}:/config	               #Confis de prowlarr
    ports:
      - 9696:9696
    restart: unless-stopped

  recyclarr:
    image: recyclarr/recyclarr
    container_name: recyclarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=America/Montevideo
    volumes:
      - ${recyclarr_config_path}:/config	           #Confis de recyclarr
    restart: unless-stopped

  simple-cloudflare-solver:
    image: ghcr.io/nlevee/simple-cloudflare-solver:main
    container_name: simple-cloudflare-solver
    ports:
      - 8191:8000
    restart: unless-stopped
      
